@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/*definición universal y saneamiento*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: grid;
  background-color: rgb(233, 229, 229);
  width: 100vw;
  height: 100%;
  gap: 15px;
  grid-template-areas:
    "header header"
    "sidebar productos"
    "footer footer";
  grid-template-columns: 180px 1fr;
  grid-template-rows: 4rem 1fr 2rem;
}

.header {
  background-color: rgb(35, 35, 88);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: header;
}

.sidebar {
  height: 80vh;
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
  padding: 30px;
}

.sidebar ul {
  list-style: none;
  gap: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebar span {
  color: grey;
}

.productos {
  grid-area: productos;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 2rem;
  padding: 1rem;
}

.card-prod {
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 0.5rem;
}

.card-prod img {
  width: 85%;
}

.card-prod h3 {
  color: rgb(3, 3, 59);
  font-size: 25px;
}

.card-prod p {
  font-weight: lighter;
}

.comprar {
  background-color: rgb(21, 21, 78);
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 50px;
}

.comprar h4 {
  font-weight: 400;
  color: white;
  font-size: 1.5rem;
}

.footer {
  grid-area: footer;
  background-color: rgb(175, 149, 199);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
  height: 55px;
}


@media (min-width: 576px) {
  .container {
    grid-template-areas:
      "header header"
      "sidebar productos"
      "footer footer";
  }
}

@media (min-width: 972px) {
  .container {
    grid-template-areas:
      "header header"
      "sidebar productos"
      "footer footer";
  }
}